/*=============================================
=            USER FORMS            =
=============================================*/

.user-form {
  height: auto;
  @media #{$medium-and-down} {
    *:not(h2) {
      font-size: 3rem !important;
    }
    .field,
    {
      margin-top: 2vh;
    }
    label[for='user_remember_me']::before {
      height: 2rem;
      width: 2rem;
    }
    h2 {
      font-size: 5.5rem;
    }
    .btn {
      padding: 1% 3% !important;
      box-sizing: border-box;
      width: auto;
      height: auto;
    }
  } //end breakpoint
  .actions input:not(#update-profile) {
    @media #{$medium-and-down} {
      width: 85vw;
      display: block;
      height: 10vh;
      margin-bottom: 3vh;
    }
    margin-top: 3vh;
  }
}

.user-form:nth-child(2) {
  min-height: auto !important;
}


/*=====  End of USER FORMS  ======*/