@import "materialize/components/color";
// override the default colors here*

/*=============================================
=            COLORS            =
=============================================*/

// main colors for navbar and call to action
$main_color: #FFD400;
// secondary color for font
$font_color: #262626;
//used for secondary buttons
$secondary_color: #3498db;
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: $font_color !important;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: 1.3vw;
}

// set the main color of the font to almost black
.main-font-color {
  color: $font-color !important;
}

//set the main background color to bright yellow
.main-bg-color {
  background-color: $main-color !important;
  color: $font_color !important;
}

.secondary-font-color {
  color: $secondary_color  !important;
}
.secondary-bg-color {
  background-color: $secondary_color !important;
}


/*=====  End of COLORS  ======*/

@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "materialize";

/*=============================================
=            GENERAL
=============================================*/

.container {
  position: relative;
  height: auto;
  @media #{$medium-and-down} {
    min-height: 85vh; // to have the login and signup big buttons almost at the botto of the page
  }
}


/*=====  End of GENERAL



/*=============================================
=           NAVBAR            =
=============================================*/


/*=====  End ofNAVBAR  ======*/

.nav-wrapper {
  width: 100%;
  @media #{$medium-and-down} {
    // styles for small screens and down
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.brand-logo {
  font-size: 3.5rem !important;
  @media #{$medium-and-down} {
    font-size: 4rem !important;
  }
}

.button-collapse,
.brand-logo {
  @media #{$medium-and-down} {
    .material-icons {
      font-size: 6.5rem !important;
    }
  }
}

nav {
  height: 7vh;
  padding-left: 5vw;
  padding-right: 5vw;
  @media #{$medium-and-down} {
    height: 10vh;
  }
}

.side-nav {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
}

.side-nav li>a {
  font-size: 4rem !important;
  height: auto !important;
  margin-top: 10rem;
}

.right li a {
  font-size: 2rem !important;
  @media #{$medium-and-down} {
    font-size: 3rem !important;
  }
}


/*=============================================
=            HOMEPAge            =
=============================================*/

#homepage {
  height: 93vh;
  width: 100vw;
  overflow: hidden;
  background: url(asset-path('forest.jpg'));
  background-size: cover;
  background-position: center;
  @media #{$medium-and-down} {
    height: 90vh;
  }
}

#overlay {
  height: 100%;
  width: 100%;
  background-color: transparentize(black, 0.6);
  display: flex;
  align-items: center;
}

#home-container {
  background-color: transparentize(white, 0.3);
  padding: 2vh;
  min-height: 30vh;
  height: auto;
  display: flex;
  flex-direction: row;
  margin: auto;
  flex-wrap: wrap;
}

#left *,
#right * {
  @media #{$medium-and-down} {
    font-size: 3rem !important;
  }
}

#home-container #left h1 {
  max-width: 100%;
  word-wrap: break-word;
  font-size: bold !important;
  @media #{$medium-and-down} {
    font-size: 5rem !important;
  }
}

#left {
  @media #{$medium-and-down} {
    text-align: center;
    margin-bottom: 2rem;
  }
  display: flex;
  margin: auto;
  flex-direction: column;
  flex-wrap: wrap;
}

#right {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
  @media #{$medium-and-down} {
    a {
      height: auto;
      padding: 2vh;
    }
  }
}


/*=====  End of HOMEPAge  ======*/


/*=============================================
=            SEARCH FORMS            =
=============================================*/

#search-forms {
  @media #{$medium-and-down} {
    .col {
      margin-bottom: 2vh;
    }
    * {
      font-size: 3.5rem !important;
    }
  } // end breakpoint
  .btn {
    padding: 2% 4% !important;
    box-sizing: border-box;
    width: auto;
    height: auto;
  }
}


/*=====  End of SEARCH FORMS  ======*/


/*=============================================
=            CREATE FORM            =
=============================================*/

#create-form {
  @media #{$medium-and-down} {
    label {
      font-size: 2.5rem;
    }
    .col {
      margin-bottom: 2vh;
    }
    input {
      font-size: 3rem;
    }
  } //end breakpoint
  .col {
    margin-bottom: 1.5vh;
  }
  .btn {
    display: flex;
    width: 100%;
    flex-direction: row;
    text-align: center;
    @media #{$medium-and-down} {
     height: 5vh; 
    }
  }
  .btn input {
    margin: auto;
    font-weight: bold;
    
  }
  h2 {
    margin-top: 3vh;
  }
}


/*=====  End of CREATE FORM  ======*/


/*=============================================
=            JOB CARD            =
=============================================*/

#job-card {
  @media #{$medium-and-down} {
    .card-title {
      font-size: 3.5rem !important;
      .col,
      .form-response {
        margin-bottom: 1.5vh !important;
        line-height: 4rem;
      }
      .btn-response {
        margin-top: 1vh !important;
      }
    }
    .form-response {
      font-size: 3.5rem !important;
    }
    .edit_job * {
      font-size: 3rem !important;
    }
    .select-wrapper {
      margin-top: 2vh;
    }
    p {
      font-size: 2rem;
    }
    .btn:not(.pin-icon):not(.collapse-icon) {
      padding: 2% 4% !important;
      box-sizing: border-box;
      width: auto;
      height: auto;
    } // style the two buttons
    .pin-icon,
    .collapse-icon {
      width: 10vw !important;
      height: 10vw !important;
    }
    .pin-icon i,
    .collapse-icon i {
      font-size: 3rem !important;
    }
    .collapse-icon {
      display: flex;
      flex-direction: row;
    }
    .collapse-icon i {
      margin: auto;
    }
    .card-tabs * {
      font-size: 3rem !important;
    }
    .card-description * {
      font-size: 2rem;
    }
  } // end breakpoint
  .pin-icon {
    position: relative;
    left: -1vw;
    top: -1vh;
  }
}
#job-card .card {
  background-color:transparentize($main_color,0.2)
}
.card-content.card-description {
  background-color:white;
}



/*=====  End of JOB CARD  ======*/


/*=============================================
=            USER FORMS            =
=============================================*/

.user-form {
  @media #{$medium-and-down} {
    *:not(h2) {
      font-size: 3rem !important;
    }
    .field,
    {
      margin-top: 2vh;
    }
    h2 {
      font-size: 5.5rem;
    }
    .btn {
      padding: 1% 3% !important;
      box-sizing: border-box;
      width: auto;
      height: auto;
    }
  } //end breakpoint
  .actions input {
    @media #{$medium-and-down} {
      width: 85vw;
      position: fixed;
      bottom: 10vh;
      display: block;
      height: 10vh;
    }
    margin-top: 3vh;
  }
}


/*=====  End of USER FORMS  ======*/


/*=============================================
=            INDEX PAGE            =
=============================================*/
// btn to add new job

.new-icon {
  @media #{$medium-and-down} {
    width: 12vw !important;
    height: 12vw !important;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      display: flex;
    }    
    i {
      margin: auto;
      font-size: 4rem !important;
    }
  } // end breakpoint 
}

//style the pagination buttons
.pagination {
  margin-bottom: 2vh;
  font-size: 1.5rem;
  @media #{$medium-and-down} {
    font-size: 3rem;

  }

}

/*=====  End of INDEX PAGE  ======*/




/*=============================================
=            USER PROFILE            =
=============================================*/
#user-profile h1 {
  font-weight: bold;
  @media #{$medium-and-down} {
    font-size: 5rem !important;
  }

}

#user-profile .card {
  height: auto;
  min-height: 10rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#user-profile .card .card-title {
  flex-grow: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  font-weight: bold;
  @media #{$medium-and-down} {
    font-size: 6rem;

  }
}
#user-profile .col:nth-child(3) .card {
  background-color:transparentize(#e74c3c,0.3);
}
#user-profile .card .card-description {
  flex-grow: 1;
  font-size: 2rem;
  @media #{$medium-and-down} {
    font-size: 3rem;

  }
}
#user-profile li {
  font-size: 2rem;
}

/*=====  End of USER PROFILE  ======*/

